body {
  height: 100vh;
  background: #fff;
}

ul {
  margin: 1;
  padding: 0;
  text-align: center;
  text-decoration: none;
  
}
ul li a{
  display: block; 
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #000;
  text-transform: uppercase;
  transition: 0.9s;
}
ul:hover li a {
  transform: scale(1.2);
  opacity: .5;
  filter: blur(3px);
}

ul li a:hover {
  transform: scale(1.5);
  opacity: 1;
  filter: blur(0px);
}